<div class="card">
    <div class="card-header">
        <h4>{{ fiche.societe }}</h4>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            {{ fiche.rue }}, {{ fiche.numero }}
            <br/>{{ fiche.localite }}
        </h5>
        fff {{ showFull }} fff
        <p class="card-text">
            {{ fiche.comment1 }}
            <br/>
            {{ fiche.comment2 }}
        </p>
        <a href="#" class="btn btn-primary">{{ fiche.webiste }}</a>
    </div>
</div>